# Node
node_modules/
.npm/

# Next.js
frontend/.next/
frontend/out/
frontend/build/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env.local
.env.*.local

# Scratch
scratch/
